.adverts {
  display: grid;
  grid-gap: var(--small);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.button {
  display: flex;
  justify-self: center;
  margin-right: var(--small);
}

.align {
  display: flex;
  justify-content: center;
}

.align > * {
  margin-right: var(--small);
}

.filters {
  opacity: 0;
  transform: translate(-100%);
  transition: 1s ease all;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.is-displayed {
  opacity: 1;
  transform: translateX(0);
}
