.header {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: var(--big);
  border-color: var(--primary-color);
  margin-bottom: var(--big);
}

h1 {
  text-align: center;
}
h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 0px;
}
